@model IEnumerable<Projects>

@{
    ViewData["title"] = "Projetos";
}


<div class="row">
    <div asp-validation-summary="ModelOnly" class="val-summary text-danger mb-3"></div>
    <div>
        <a asp-action="Register"><input value="Novo" class="btn btn-primary" ></a>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Utimo start</th>
                    <th scope="col">Utimo pause</th>
                    <th scope="col">Status</th>
                    <th scope="col">Preço/h</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>@project.LastStart</td>
                        <td>@project.LastPause</td>
                        <td>@project.Status</td>
                        <td>@project.PriceByHours.ToString("C")</td>
                        <td>
                            <a href=""><button type="button" class="btn btn-outline-info btn-sm">Info</button></a>
                            @if (@project.Status == ProjectStatus.Pendente || @project.Status == ProjectStatus.Pausado)
                            {
                                <a asp-action="StartOrPause" asp-route-projectId="@project.Id"><button type="button" class="btn btn-outline-success btn-sm">Iniciar</button></a>
                            }
                            @if(@project.Status == ProjectStatus.Ativo)
                            {
                                <a asp-action="StartOrPause" asp-route-projectId="@project.Id"><button type="button" class="btn btn-outline-dark btn-sm">Pausar</button></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>